node_modules/*
!node_modules/@webcomponents

node_modules/@webcomponents/*
!node_modules/@webcomponents/webcomponentsjs

node_modules/@webcomponents/webcomponentsjs/*
!node_modules/@webcomponents/webcomponentsjs/webcomponents-lite.js